In [248]:
import pandas as pd
import json
import credentials

with open('./player_level.json') as file:
   player_json = json.loads(file.read())


player_level_df = pd.read_json('./player_level.json').rename(columns={'name':'username'}) #troops levels
# player_level_df.townHallLevel = player_level_df.townHallLevel.astype(pd.Int64Dtype())
player_level_df.dtypes

laboratory_level_townhall = [
    (1,3),
    (2,4),
    (3,5),
    (4,6),
    (5,7),
    (6,8),
    (7,9),
    (8,10),
    (9,11),
    (10,12),
    (11,13),
    (12,14),
]

#max lab per town hall
lab_level_townhall_df = pd.DataFrame(laboratory_level_townhall, columns=['LaboratoryLevel', 'townHallLevel']) 
lab_level_townhall_df

    LaboratoryLevel  townHallLevel
0                 1              3
1                 2              4
2                 3              5
3                 4              6
4                 5              7
5                 6              8
6                 7              9
7                 8             10
8                 9             11
9                10             12
10               11             13
11               12             14

In [249]:
player_troop_levels_dataframe = pd.DataFrame(columns=['name', 'level', 'maxLevel', 'village'])
player_troop_levels_dataframe
for troop in player_json[0]['troops']:
    troop_df = pd.DataFrame.from_records(troop, index=[0])
    player_troop_levels_dataframe= pd.concat([player_troop_levels_dataframe, troop_df],ignore_index=True, axis=0)
player_troop_levels_dataframe = player_troop_levels_dataframe[player_troop_levels_dataframe['village'] == 'home']
player_troop_levels_dataframe

                  name level maxLevel village
0            Barbarian     5       10    home
1               Archer     5       10    home
2               Goblin     5        8    home
3                Giant     9       10    home
4         Wall Breaker     8       10    home
5              Balloon     8       10    home
6               Wizard     9       10    home
7               Healer     5        7    home
8               Dragon     7        9    home
9            P.E.K.K.A     8        9    home
10              Minion     7       10    home
11           Hog Rider     9       11    home
12            Valkyrie     7        9    home
13               Golem     9       11    home
14               Witch     5        5    home
15          Lava Hound     5        6    home
16              Bowler     4        6    home
17         Baby Dragon     3        8    home
18               Miner     6        8    home
19     Super Barbarian     1        3    home
20        Super Archer     1        3    home
21  Super Wall Breaker     1        4    home
22         Super Giant     1        2    home
32        Wall Wrecker     3        4    home
33        Battle Blimp     3        4    home
34                Yeti     2        4    home
35       Sneaky Goblin     1        2    home
36      Rocket Balloon     1        3    home
37           Ice Golem     5        6    home
38      Electro Dragon     4        5    home
39       Stone Slammer     3        4    home
40      Inferno Dragon     1        3    home
41      Super Valkyrie     1        3    home
42         Super Witch     1        1    home
43           Ice Hound     1        2    home
44        Super Bowler     1        3    home
45        Super Dragon     1        3    home
46          Headhunter     2        3    home
47        Super Wizard     1        2    home
48        Super Minion     1        3    home

In [250]:
characters_df = pd.read_excel('characters.xlsx',usecols=['Name', 'TroopLevel','LaboratoryLevel'])  #max troop level per lab level
characters_df

               Name TroopLevel LaboratoryLevel
0            String        int             int
1         Barbarian          1               1
2         Barbarian          2               1
3         Barbarian          3               3
4         Barbarian          4               5
..              ...        ...             ...
593     Giant PEKKA          1             NaN
594  Siege Catapult          1               9
595             NaN          2              10
596             NaN          3              10
597             NaN          4              11

[598 rows x 3 columns]

In [251]:
#player lab level
player_th_lab_join_df = pd.merge(player_level_df,lab_level_townhall_df,how='inner',left_on='townHallLevel',right_on='townHallLevel')\
    .drop(columns=['troops'])
player_th_lab_join_df

  username  townHallLevel  LaboratoryLevel
0  Kirikou             13               11

In [252]:
merge_lab_troop_df = pd.merge(lab_level_townhall_df,characters_df, left_on='LaboratoryLevel', right_on='LaboratoryLevel', how='inner').drop(columns='townHallLevel').sort_values(by='Name', ascending=True, ignore_index=True, kind='stable')
merge_lab_troop_df

    LaboratoryLevel              Name TroopLevel
0                 1  AirDefenceSeeker          1
1                 7  AirDefenceSeeker          2
2                 8  AirDefenceSeeker          3
3                 9  AirDefenceSeeker          4
4                10  AirDefenceSeeker          5
..              ...               ...        ...
519              12               NaN          4
520              12               NaN          6
521              12               NaN          5
522              12               NaN          3
523              12               NaN          6

[524 rows x 3 columns]

In [253]:
player_full_join_df = pd.merge(player_th_lab_join_df, merge_lab_troop_df, how='left', left_on='LaboratoryLevel', right_on='LaboratoryLevel', indicator=False).sort_values(by='Name',ascending=True, ignore_index=True)
player_full_join_df

   username  townHallLevel LaboratoryLevel              Name TroopLevel
0   Kirikou             13              11  AirDefenceSeeker          6
1   Kirikou             13              11        BabyDragon          7
2   Kirikou             13              11           Balloon          9
3   Kirikou             13              11        Boar Rider         10
4   Kirikou             13              11            Bowler          5
5   Kirikou             13              11            Dragon          8
6   Kirikou             13              11          Gargoyle          9
7   Kirikou             13              11             Giant         10
8   Kirikou             13              11             Golem         10
9   Kirikou             13              11            Healer          6
10  Kirikou             13              11   Ice Wizard_xmas         10
11  Kirikou             13              11             Miner          7
12  Kirikou             13              11         Miner_DEF          7
13  Kirikou             13              11             PEKKA          9
14  Kirikou             13              11      Wall Breaker          9
15  Kirikou             13              11      Warrior Girl          8
16  Kirikou             13              11            Wizard         10
17  Kirikou             13              11               NaN          4
18  Kirikou             13              11               NaN          4
19  Kirikou             13              11               NaN          3
20  Kirikou             13              11               NaN          4
21  Kirikou             13              11               NaN          9
22  Kirikou             13              11               NaN          4
23  Kirikou             13              11               NaN          2
24  Kirikou             13              11               NaN         10
25  Kirikou             13              11               NaN          4
26  Kirikou             13              11               NaN          3
27  Kirikou             13              11               NaN          4
28  Kirikou             13              11               NaN          4

In [254]:
all_data_df = pd.merge(player_full_join_df, player_troop_levels_dataframe, how='right', left_on='Name', right_on='name')
all_data_df

,username,townHallLevel,LaboratoryLevel,Name,TroopLevel,name,level,maxLevel,village
0,NaN,NaN,NaN,NaN,NaN,Barbarian,5,10,home
1,NaN,NaN,NaN,NaN,NaN,Archer,5,10,home
2,NaN,NaN,NaN,NaN,NaN,Goblin,5,8,home
3,Kirikou,13.0,11,Giant,10,Giant,9,10,home
4,Kirikou,13.0,11,Wall Breaker,9,Wall Breaker,8,10,home
5,Kirikou,13.0,11,Balloon,9,Balloon,8,10,home
6,Kirikou,13.0,11,Wizard,10,Wizard,9,10,home
7,Kirikou,13.0,11,Healer,6,Healer,5,7,home
8,Kirikou,13.0,11,Dragon,8,Dragon,7,9,home
9,NaN,NaN,NaN,NaN,NaN,P.E.K.K.A,8,9,home
10,NaN,NaN,NaN,NaN,NaN,Minion,7,10,home
11,NaN,NaN,NaN,NaN,NaN,Hog Rider,9,11,home
12,NaN,NaN,NaN,NaN,NaN,Valkyrie,7,9,home
13,Kirikou,13.0,11,Golem,10,Golem,9,11,home
14,NaN,NaN,NaN,NaN,NaN,Witch,5,5,home
15,NaN,NaN,NaN,NaN,NaN,Lava Hound,5,6,home
16,Kirikou,13.0,11,Bowler,5,Bowler,4,6,home
17,NaN,NaN,NaN,NaN,NaN,Baby Dragon,3,8,home
18,Kirikou,13.0,11,Miner,7,Miner,6,8,home
19,NaN,NaN,NaN,NaN,NaN,Super Barbarian,1,3,home
20,NaN,NaN,NaN,NaN,NaN,Super Archer,1,3,home
21,NaN,NaN,NaN,NaN,NaN,Super Wall Breaker,1,4,home
22,NaN,NaN,NaN,NaN,NaN,Super Giant,1,2,home
23,NaN,NaN,NaN,NaN,NaN,Wall Wrecker,3,4,home
24,NaN,NaN,NaN,NaN,NaN,Battle Blimp,3,4,home
25,NaN,NaN,NaN,NaN,NaN,Yeti,2,4,home
26,NaN,NaN,NaN,NaN,NaN,Sneaky Goblin,1,2,home
27,NaN,NaN,NaN,NaN,NaN,Rocket Balloon,1,3,home
28,NaN,NaN,NaN,NaN,NaN,Ice Golem,5,6,home
29,NaN,NaN,NaN,NaN,NaN,Electro Dragon,4,5,home
30,NaN,NaN,NaN,NaN,NaN,Stone Slammer,3,4,home
31,NaN,NaN,NaN,NaN,NaN,Inferno Dragon,1,3,home
32,NaN,NaN,NaN,NaN,NaN,Super Valkyrie,1,3,home
33,NaN,NaN,NaN,NaN,NaN,Super Witch,1,1,home
34,NaN,NaN,NaN,NaN,NaN,Ice Hound,1,2,home
35,NaN,NaN,NaN,NaN,NaN,Super Bowler,1,3,home
36,NaN,NaN,NaN,NaN,NaN,Super Dragon,1,3,home
37,NaN,NaN,NaN,NaN,NaN,Headhunter,2,3,home
38,NaN,NaN,NaN,NaN,NaN,Super Wizard,1,2,home
39,NaN,NaN,NaN,NaN,NaN,Super Minion,1,3,home