In [148]:
import pandas as pd
import json
import credentials

with open('./player_level.json') as file:
   player_json = json.loads(file.read())


player_level_df = pd.read_json('./player_level.json') #troops levels
player_level_df.townHallLevel = player_level_df.townHallLevel.astype(pd.Int64Dtype())
player_level_df.dtypes

laboratory_level_townhall = [
    (1,3),
    (2,4),
    (3,5),
    (4,6),
    (5,7),
    (6,8),
    (7,9),
    (8,10),
    (9,11),
    (10,12),
    (11,13),
    (12,14),
]

lab_level_townhall_df = pd.DataFrame(laboratory_level_townhall, columns=['LaboratoryLevel', 'townHallLevel'])  #max lab per town hall
# lab_level_townhall_df = lab_level_townhall_df.astype({'townHallLevel': 'int64'})
lab_level_townhall_df['townHallLevel'] = lab_level_townhall_df['townHallLevel'].astype(pd.Int64Dtype())

lab_level_townhall_df.dtypes

LaboratoryLevel    int64
townHallLevel      Int64
dtype: object

In [190]:
# print(player_json[0]['troops'][0])
player_troop_levels_dataframe = pd.DataFrame(columns=['name', 'level', 'maxLevel', 'village'])
player_troop_levels_dataframe
for troop in player_json[0]['troops']:
    # print(troop)
    troop_df = pd.DataFrame.from_records(troop, index=[0])
    print(troop_df)
    player_troop_levels_dataframe= pd.concat([player_troop_levels_dataframe, troop_df],ignore_index=True, axis=0)

   level  maxLevel       name village
0      5        10  Barbarian    home
   level  maxLevel    name village
0      5        10  Archer    home
   level  maxLevel    name village
0      5         8  Goblin    home
   level  maxLevel   name village
0      9        10  Giant    home
   level  maxLevel          name village
0      8        10  Wall Breaker    home
   level  maxLevel     name village
0      8        10  Balloon    home
   level  maxLevel    name village
0      9        10  Wizard    home
   level  maxLevel    name village
0      5         7  Healer    home
   level  maxLevel    name village
0      7         9  Dragon    home
   level  maxLevel       name village
0      8         9  P.E.K.K.A    home
   level  maxLevel    name village
0      7        10  Minion    home
   level  maxLevel       name village
0      9        11  Hog Rider    home
   level  maxLevel      name village
0      7         9  Valkyrie    home
   level  maxLevel   name village
0      9        11  Golem    home
   level  maxLevel   name village
0      5         5  Witch    home
   level  maxLevel        name village
0      5         6  Lava Hound    home
   level  maxLevel    name village
0      4         6  Bowler    home
   level  maxLevel         name village
0      3         8  Baby Dragon    home
   level  maxLevel   name village
0      6         8  Miner    home
   level  maxLevel             name village
0      1         3  Super Barbarian    home
   level  maxLevel          name village
0      1         3  Super Archer    home
   level  maxLevel                name village
0      1         4  Super Wall Breaker    home
   level  maxLevel         name village
0      1         2  Super Giant    home
   level  maxLevel             name      village
0     14        18  Raged Barbarian  builderBase
   level  maxLevel           name      village
0     12        18  Sneaky Archer  builderBase
   level  maxLevel         name      village
0      8        18  Beta Minion  builderBase
   level  maxLevel         name      village
0     14        18  Boxer Giant  builderBase
   level  maxLevel    name      village
0     14        18  Bomber  builderBase
   level  maxLevel         name      village
0     14        18  Cannon Cart  builderBase
   level  maxLevel       name      village
0      1        18  Drop Ship  builderBase
   level  maxLevel         name      village
0      3        18  Baby Dragon  builderBase
   level  maxLevel         name      village
0     14        18  Night Witch  builderBase
   level  maxLevel          name village
0      3         4  Wall Wrecker    home
   level  maxLevel          name village
0      3         4  Battle Blimp    home
   level  maxLevel  name village
0      2         4  Yeti    home
   level  maxLevel           name village
0      1         2  Sneaky Goblin    home
   level  maxLevel            name village
0      1         3  Rocket Balloon    home
   level  maxLevel       name village
0      5         6  Ice Golem    home
   level  maxLevel            name village
0      4         5  Electro Dragon    home
   level  maxLevel           name village
0      3         4  Stone Slammer    home
   level  maxLevel            name village
0      1         3  Inferno Dragon    home
   level  maxLevel            name village
0      1         3  Super Valkyrie    home
   level  maxLevel         name village
0      1         1  Super Witch    home
   level  maxLevel       name village
0      1         2  Ice Hound    home
   level  maxLevel          name village
0      1         3  Super Bowler    home
   level  maxLevel          name village
0      1         3  Super Dragon    home
   level  maxLevel        name village
0      2         3  Headhunter    home
   level  maxLevel          name village
0      1         2  Super Wizard    home
   level  maxLevel          name village
0      1         3  Super Minion    home

In [191]:
player_troop_levels_dataframe

                  name level maxLevel      village
0            Barbarian     5       10         home
1               Archer     5       10         home
2               Goblin     5        8         home
3                Giant     9       10         home
4         Wall Breaker     8       10         home
5              Balloon     8       10         home
6               Wizard     9       10         home
7               Healer     5        7         home
8               Dragon     7        9         home
9            P.E.K.K.A     8        9         home
10              Minion     7       10         home
11           Hog Rider     9       11         home
12            Valkyrie     7        9         home
13               Golem     9       11         home
14               Witch     5        5         home
15          Lava Hound     5        6         home
16              Bowler     4        6         home
17         Baby Dragon     3        8         home
18               Miner     6        8         home
19     Super Barbarian     1        3         home
20        Super Archer     1        3         home
21  Super Wall Breaker     1        4         home
22         Super Giant     1        2         home
23     Raged Barbarian    14       18  builderBase
24       Sneaky Archer    12       18  builderBase
25         Beta Minion     8       18  builderBase
26         Boxer Giant    14       18  builderBase
27              Bomber    14       18  builderBase
28         Cannon Cart    14       18  builderBase
29           Drop Ship     1       18  builderBase
30         Baby Dragon     3       18  builderBase
31         Night Witch    14       18  builderBase
32        Wall Wrecker     3        4         home
33        Battle Blimp     3        4         home
34                Yeti     2        4         home
35       Sneaky Goblin     1        2         home
36      Rocket Balloon     1        3         home
37           Ice Golem     5        6         home
38      Electro Dragon     4        5         home
39       Stone Slammer     3        4         home
40      Inferno Dragon     1        3         home
41      Super Valkyrie     1        3         home
42         Super Witch     1        1         home
43           Ice Hound     1        2         home
44        Super Bowler     1        3         home
45        Super Dragon     1        3         home
46          Headhunter     2        3         home
47        Super Wizard     1        2         home
48        Super Minion     1        3         home

In [118]:
characters_df = pd.read_excel('characters.xlsx',usecols=['Name', 'TroopLevel','LaboratoryLevel'])  #max troop level per lab level

characters_df['LaboratoryLevel'] = characters_df['LaboratoryLevel']

characters_df.dtypes

Name               object
TroopLevel         object
LaboratoryLevel    object
dtype: object

In [143]:
print(player_level_df)
# troop_levels = pd.DataFrame(pd.Series(player_level_df.troops))

       name  townHallLevel                                             troops
0   Kirikou             13  {'name': 'Barbarian', 'level': 5, 'maxLevel': ...
1   Kirikou             13  {'name': 'Archer', 'level': 5, 'maxLevel': 10,...
2   Kirikou             13  {'name': 'Goblin', 'level': 5, 'maxLevel': 8, ...
3   Kirikou             13  {'name': 'Giant', 'level': 9, 'maxLevel': 10, ...
4   Kirikou             13  {'name': 'Wall Breaker', 'level': 8, 'maxLevel...
5   Kirikou             13  {'name': 'Balloon', 'level': 8, 'maxLevel': 10...
6   Kirikou             13  {'name': 'Wizard', 'level': 9, 'maxLevel': 10,...
7   Kirikou             13  {'name': 'Healer', 'level': 5, 'maxLevel': 7, ...
8   Kirikou             13  {'name': 'Dragon', 'level': 7, 'maxLevel': 9, ...
9   Kirikou             13  {'name': 'P.E.K.K.A', 'level': 8, 'maxLevel': ...
10  Kirikou             13  {'name': 'Minion', 'level': 7, 'maxLevel': 10,...
11  Kirikou             13  {'name': 'Hog Rider', 'level': 9, 'maxLevel': ...
12  Kirikou             13  {'name': 'Valkyrie', 'level': 7, 'maxLevel': 9...
13  Kirikou             13  {'name': 'Golem', 'level': 9, 'maxLevel': 11, ...
14  Kirikou             13  {'name': 'Witch', 'level': 5, 'maxLevel': 5, '...
15  Kirikou             13  {'name': 'Lava Hound', 'level': 5, 'maxLevel':...
16  Kirikou             13  {'name': 'Bowler', 'level': 4, 'maxLevel': 6, ...
17  Kirikou             13  {'name': 'Baby Dragon', 'level': 3, 'maxLevel'...
18  Kirikou             13  {'name': 'Miner', 'level': 6, 'maxLevel': 8, '...
19  Kirikou             13  {'name': 'Super Barbarian', 'level': 1, 'maxLe...
20  Kirikou             13  {'name': 'Super Archer', 'level': 1, 'maxLevel...
21  Kirikou             13  {'name': 'Super Wall Breaker', 'level': 1, 'ma...
22  Kirikou             13  {'name': 'Super Giant', 'level': 1, 'maxLevel'...
23  Kirikou             13  {'name': 'Raged Barbarian', 'level': 14, 'maxL...
24  Kirikou             13  {'name': 'Sneaky Archer', 'level': 12, 'maxLev...
25  Kirikou             13  {'name': 'Beta Minion', 'level': 8, 'maxLevel'...
26  Kirikou             13  {'name': 'Boxer Giant', 'level': 14, 'maxLevel...
27  Kirikou             13  {'name': 'Bomber', 'level': 14, 'maxLevel': 18...
28  Kirikou             13  {'name': 'Cannon Cart', 'level': 14, 'maxLevel...
29  Kirikou             13  {'name': 'Drop Ship', 'level': 1, 'maxLevel': ...
30  Kirikou             13  {'name': 'Baby Dragon', 'level': 3, 'maxLevel'...
31  Kirikou             13  {'name': 'Night Witch', 'level': 14, 'maxLevel...
32  Kirikou             13  {'name': 'Wall Wrecker', 'level': 3, 'maxLevel...
33  Kirikou             13  {'name': 'Battle Blimp', 'level': 3, 'maxLevel...
34  Kirikou             13  {'name': 'Yeti', 'level': 2, 'maxLevel': 4, 'v...
35  Kirikou             13  {'name': 'Sneaky Goblin', 'level': 1, 'maxLeve...
36  Kirikou             13  {'name': 'Rocket Balloon', 'level': 1, 'maxLev...
37  Kirikou             13  {'name': 'Ice Golem', 'level': 5, 'maxLevel': ...
38  Kirikou             13  {'name': 'Electro Dragon', 'level': 4, 'maxLev...
39  Kirikou             13  {'name': 'Stone Slammer', 'level': 3, 'maxLeve...
40  Kirikou             13  {'name': 'Inferno Dragon', 'level': 1, 'maxLev...
41  Kirikou             13  {'name': 'Super Valkyrie', 'level': 1, 'maxLev...
42  Kirikou             13  {'name': 'Super Witch', 'level': 1, 'maxLevel'...
43  Kirikou             13  {'name': 'Ice Hound', 'level': 1, 'maxLevel': ...
44  Kirikou             13  {'name': 'Super Bowler', 'level': 1, 'maxLevel...
45  Kirikou             13  {'name': 'Super Dragon', 'level': 1, 'maxLevel...
46  Kirikou             13  {'name': 'Headhunter', 'level': 2, 'maxLevel':...
47  Kirikou             13  {'name': 'Super Wizard', 'level': 1, 'maxLevel...
48  Kirikou             13  {'name': 'Super Minion', 'level': 1, 'maxLevel...

In [119]:
#player lab level
player_th_lab_join_df = pd.merge(player_level_df,lab_level_townhall_df, indicator=True,how='inner',left_on='townHallLevel',right_on='townHallLevel')

In [129]:
print(player_th_lab_join_df)

       name  townHallLevel                                             troops  \
0   Kirikou             13  {'name': 'Barbarian', 'level': 5, 'maxLevel': ...
1   Kirikou             13  {'name': 'Archer', 'level': 5, 'maxLevel': 10,...
2   Kirikou             13  {'name': 'Goblin', 'level': 5, 'maxLevel': 8, ...
3   Kirikou             13  {'name': 'Giant', 'level': 9, 'maxLevel': 10, ...
4   Kirikou             13  {'name': 'Wall Breaker', 'level': 8, 'maxLevel...
5   Kirikou             13  {'name': 'Balloon', 'level': 8, 'maxLevel': 10...
6   Kirikou             13  {'name': 'Wizard', 'level': 9, 'maxLevel': 10,...
7   Kirikou             13  {'name': 'Healer', 'level': 5, 'maxLevel': 7, ...
8   Kirikou             13  {'name': 'Dragon', 'level': 7, 'maxLevel': 9, ...
9   Kirikou             13  {'name': 'P.E.K.K.A', 'level': 8, 'maxLevel': ...
10  Kirikou             13  {'name': 'Minion', 'level': 7, 'maxLevel': 10,...
11  Kirikou             13  {'name': 'Hog Rider', 'level': 9, 'maxLevel': ...
12  Kirikou             13  {'name': 'Valkyrie', 'level': 7, 'maxLevel': 9...
13  Kirikou             13  {'name': 'Golem', 'level': 9, 'maxLevel': 11, ...
14  Kirikou             13  {'name': 'Witch', 'level': 5, 'maxLevel': 5, '...
15  Kirikou             13  {'name': 'Lava Hound', 'level': 5, 'maxLevel':...
16  Kirikou             13  {'name': 'Bowler', 'level': 4, 'maxLevel': 6, ...
17  Kirikou             13  {'name': 'Baby Dragon', 'level': 3, 'maxLevel'...
18  Kirikou             13  {'name': 'Miner', 'level': 6, 'maxLevel': 8, '...
19  Kirikou             13  {'name': 'Super Barbarian', 'level': 1, 'maxLe...
20  Kirikou             13  {'name': 'Super Archer', 'level': 1, 'maxLevel...
21  Kirikou             13  {'name': 'Super Wall Breaker', 'level': 1, 'ma...
22  Kirikou             13  {'name': 'Super Giant', 'level': 1, 'maxLevel'...
23  Kirikou             13  {'name': 'Raged Barbarian', 'level': 14, 'maxL...
24  Kirikou             13  {'name': 'Sneaky Archer', 'level': 12, 'maxLev...
25  Kirikou             13  {'name': 'Beta Minion', 'level': 8, 'maxLevel'...
26  Kirikou             13  {'name': 'Boxer Giant', 'level': 14, 'maxLevel...
27  Kirikou             13  {'name': 'Bomber', 'level': 14, 'maxLevel': 18...
28  Kirikou             13  {'name': 'Cannon Cart', 'level': 14, 'maxLevel...
29  Kirikou             13  {'name': 'Drop Ship', 'level': 1, 'maxLevel': ...
30  Kirikou             13  {'name': 'Baby Dragon', 'level': 3, 'maxLevel'...
31  Kirikou             13  {'name': 'Night Witch', 'level': 14, 'maxLevel...
32  Kirikou             13  {'name': 'Wall Wrecker', 'level': 3, 'maxLevel...
33  Kirikou             13  {'name': 'Battle Blimp', 'level': 3, 'maxLevel...
34  Kirikou             13  {'name': 'Yeti', 'level': 2, 'maxLevel': 4, 'v...
35  Kirikou             13  {'name': 'Sneaky Goblin', 'level': 1, 'maxLeve...
36  Kirikou             13  {'name': 'Rocket Balloon', 'level': 1, 'maxLev...
37  Kirikou             13  {'name': 'Ice Golem', 'level': 5, 'maxLevel': ...
38  Kirikou             13  {'name': 'Electro Dragon', 'level': 4, 'maxLev...
39  Kirikou             13  {'name': 'Stone Slammer', 'level': 3, 'maxLeve...
40  Kirikou             13  {'name': 'Inferno Dragon', 'level': 1, 'maxLev...
41  Kirikou             13  {'name': 'Super Valkyrie', 'level': 1, 'maxLev...
42  Kirikou             13  {'name': 'Super Witch', 'level': 1, 'maxLevel'...
43  Kirikou             13  {'name': 'Ice Hound', 'level': 1, 'maxLevel': ...
44  Kirikou             13  {'name': 'Super Bowler', 'level': 1, 'maxLevel...
45  Kirikou             13  {'name': 'Super Dragon', 'level': 1, 'maxLevel...
46  Kirikou             13  {'name': 'Headhunter', 'level': 2, 'maxLevel':...
47  Kirikou             13  {'name': 'Super Wizard', 'level': 1, 'maxLevel...
48  Kirikou             13  {'name': 'Super Minion', 'level': 1, 'maxLevel...

    LaboratoryLevel _merge
0                11   both
1                11   both
2                11   both
3                11   both
4                11   both
5                11   both
6                11   both
7                11   both
8                11   both
9                11   both
10               11   both
11               11   both
12               11   both
13               11   both
14               11   both
15               11   both
16               11   both
17               11   both
18               11   both
19               11   both
20               11   both
21               11   both
22               11   both
23               11   both
24               11   both
25               11   both
26               11   both
27               11   both
28               11   both
29               11   both
30               11   both
31               11   both
32               11   both
33               11   both
34               11   both
35               11   both
36               11   both
37               11   both
38               11   both
39               11   both
40               11   both
41               11   both
42               11   both
43               11   both
44               11   both
45               11   both
46               11   both
47               11   both
48               11   both

In [100]:
print(characters_df.dtypes)

Name               object
TroopLevel         object
LaboratoryLevel    object
dtype: object

In [127]:
merge_lab_troop_df = pd.merge(lab_level_townhall_df,characters_df ,indicator=True, left_on='LaboratoryLevel', right_on='LaboratoryLevel', how='inner')

In [128]:
merge_lab_troop_df

    LaboratoryLevel  townHallLevel       Name TroopLevel _merge
0                 1              3  Barbarian          1   both
1                 1              3  Barbarian          2   both
2                 1              3     Archer          1   both
3                 1              3     Archer          2   both
4                 1              3     Goblin          1   both
..              ...            ...        ...        ...    ...
519              12             14        NaN          4   both
520              12             14        NaN          6   both
521              12             14        NaN          5   both
522              12             14        NaN          3   both
523              12             14        NaN          6   both

[524 rows x 5 columns]

In [132]:
player_full_join_df = pd.merge(player_th_lab_join_df, merge_lab_troop_df, how='inner', left_on='LaboratoryLevel', right_on='LaboratoryLevel')